aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
amqp==5.3.1
annotated-types==0.7.0
asgiref==3.9.1
attrs==25.3.0
billiard==4.2.1
bitarray==3.7.1
celery==5.5.3
certifi==2025.8.3
charset-normalizer==3.4.3
ckzg==2.1.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cytoolz==1.0.1
dj-database-url==3.0.1
Django==5.2.6
django-redis==6.0.0
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==5.2.0
frozenlist==1.7.0
greenlet==3.2.3
hexbytes==1.3.1
idna==3.10
kombu==5.5.4
multidict==6.6.4
packaging==25.0
parsimonious==0.10.0
pillow==11.3.0
playwright==1.54.0
prompt_toolkit==3.0.52
propcache==0.3.2
psycopg2-binary==2.9.10
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
pyee==13.0.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pyunormalize==16.0.0
redis==6.4.0
regex==2025.9.1
requests==2.32.5
rlp==4.1.0
six==1.17.0
sqlparse==0.5.3
toolz==1.0.0
types-requests==2.32.4.20250809
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
web3==7.13.0
websockets==15.0.1
yarl==1.20.1
